.DS_Store
Thumbs.db

.nvm-version
node_modules

/package-lock.json
/yarn.lock

# may contain secrets, picked up by Docker Compose
/.env

/test/*.gtfs.zip
/test/*.gtfs
/*.gtfs.zip
/*.gtfs

# encrypted secrets
/*.age

/lib/stations.json

# working dir for the extracted GTFS feed
/gtfs
