name: lint & test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  # make this workflow callable from other workflows
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - '22'
        postgis-docker-tag:
          # todo
          # - '16-3.5-alpine'
          # - '15-3.5-alpine'
          - '14-3.5-alpine'

    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: setup Node v${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
    - name: install sponge (moreutils)
      run: sudo apt install -y moreutils
    - name: install qsv
      run: ./ci/install-qsv.sh
    - name: install gtfstidy
      run: ./ci/install-gtfstidy.sh

    - name: install & start PostgreSQL with PostGIS
      run: |
        docker run -d --quiet \
          -e POSTGRES_USER="$PGUSER" -e POSTGRES_PASSWORD="$PGPASSWORD" -e POSTGRES_DB="$PGDATABASE" \
          -p 5432:5432 postgis/postgis:${{ matrix.postgis-docker-tag }} \
          -c timezone=Europe/Berlin
      env:
        PGUSER: postgres
        PGPASSWORD: password
        PGDATABASE: postgres

    - run: npm install

    - run: npm run lint

    - name: npm test
      run: |
        env PATH="$HOME:$PATH" npm test
      env:
        PGUSER: postgres
        PGPASSWORD: password
        PGDATABASE: postgres
